.web-design , .quote{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


select,
textarea {
    display: block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}
input[type=text], input[type=email], input[type=tel]{
    display: block;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}
input:required:invalid {
    box-shadow: 4px 4px 20px rgba(50, 0, 0, 0.85);
}

input:invalid {
    background-color: #F1F2EC;
    color: #FC6414;
    border: 1px solid red;
    outline: none;
}

fieldset {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border-color: #FC6414;
    margin: 20px 0px;
}

legend {
    font-size: 1.5rem;
    color: #282b40;
    font-weight: bolder;
}

.lrequired {
    color: red;
}
.form-bottom{
    margin: 10px;
}

button:hover {
    color: #F1F2EC;
    background-color: #FFAC00;
}


button {
    background: #FC6414;
    padding: 20px;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: #F1F2EC;
}